VITE_FIREBASE_API_KEY=AIzaSyAefPkb2UvOkQnMHq9JBSU9VvtXb_a_GvU
VITE_FIREBASE_AUTH_DOMAIN=uits-bus-management-system.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uits-bus-management-system
VITE_FIREBASE_STORAGE_BUCKET=uits-bus-management-system.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=374309687203
VITE_FIREBASE_APP_ID=1:374309687203:web:6388c62b751c7d8b81d416
VITE_FIREBASE_MEASUREMENT_ID=G-PTWM4N1ZCL
VITE_FIREBASE_VAPID_KEY=BP3um_XHbkoxZWT2rk837Vr6xsZx2rrpZJzl62WnlxVKFQNmDmedWJKvC1RbjP_Hufs3kpp8QZrlR7KEP2F3wYc

